@using ClassifierWinApp.Models
@inject ClassfierWorkspace Workspace

<div>
    path to csproj:
    <input @bind="Workspace.CsprojPath" style="width: 80%;" />
</div>


@if (isLoading)
{
    <div class="spinner"></div>
}
else
{
<div class="row">
    <div class="column left">
        <button @onclick="Open">@(@Workspace.IsOpen ? "Reload" : "Open") Project</button>

        <ul>
            @foreach (var doc in @Workspace.Documents)
            {
                <li><button @onclick="async () => await Classify(doc)">@doc.ShortName</button></li>
            }
        </ul>
    </div>

    <div class="column middle">
        <pre>@markup.Value</pre>
    </div>

    <div class="column right">
        <pre>@markup</pre>
    </div>
</div>
}

@code {

    private bool isLoading;

    private MarkupString markup;

    private async Task Open()
    {
        isLoading = true;
        await Workspace.OpenProjectAsync();
        isLoading = false;
    }

    private async Task Classify(ClassfierDocument doc)
    {
        isLoading = true;
        var x = await doc.ClassifyAsync();
        isLoading = false;
        markup = (MarkupString)x;
    }
}
